.form__group {
  position: relative;
  padding-top: 1rem;
  width: 100%;
  max-width: 13rem;
  margin: 0rem 1rem 1.2rem 0rem;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: .2rem solid #9b9b9b;
  outline: 0;
  font-size: 1.4rem;
  color: #fff;
  padding: .1rem .5rem;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 1.5rem;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 0rem;
  border-width: .3rem;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #38caef;
  font-weight: 500;
  padding: 0 .4rem;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
} 


@media screen and (max-width: 855px) {
}